@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 500px;
    height: auto;
}

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px; 
}

.logo,
.quote-source,
.modal-header {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
}

a, 
.text {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    background: #1f2937;
    padding: 0 160px;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    gap: 70px;
    margin: 80px 0;
}

.title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.hero-information .text {
    margin-bottom: 16px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 36px;
    border-radius: 8px;
    background: #3882f6;
    color: #e5e7eb;
}

button.sign-up {
    border-style: none;
}

img.item-image {
    width: 160px;
    height: auto;
    border: 6px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.information {
    text-align: center;
}

.title.info {
    color: #1f2937;
    font-size: 36px;
    margin: 60px 0;
}

.item-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 60px;
}

.item {
    max-width: 172px;
}

.item .text {
    color: #1f2937;
}

.quote {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 160px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px 120px;
}

.quote-text {
    font-size: 36px;
    font-weight: 50;
    font-style: italic;
    color: #1f2937;
    max-width: 800px;
}

.quote-source {
    color: #1f2937;
    align-self: flex-end;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 160px;
}

.modal-container {
    width: 100%;
    display: flex;
    background: #3882f6;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    margin: 100px 0;
}

button.sign-up-modal {
    border: 2px solid white;
}

.footer {
    background: #1f2937;
    padding: 24px 160px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}



